*

!src/
!prisma/
!.dockerignore
!Dockerfile
!package.json
!package-lock.json
!tsconfig.json

!web/public
!web/src
!web/index.html
!web/package.json
!web/package-lock.json
!web/tsconfig.app.json
!web/tsconfig.json
!web/tsconfig.node.json
!web/vite.config.ts