* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans Variable', sans-serif;
  user-select: none;
}

a {
  text-decoration: none;
  color: #0064ff;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

input {
  all: unset;
  border-bottom: 1px solid #444;
  padding: 4px;
  transition: 200ms ease;
}

input:focus {
  outline: none;
  border-color: #0064ff;
}

button {
  all: unset;
  padding: 6px 16px;
  background-color: #0064ff;
  border-radius: 5px;
  cursor: pointer;
  transition: background 200ms ease;
}

button:hover {
  background-color: #0048bb;
}

button:focus {
  outline: none;
  background-color: #0048bb;
}
